 <section class="home">
                    <img class="home-slider active" src="~/traversal-agency-website-main/src/assets/images/banner4.jpg">
                    <img class="home-slider" src="~/traversal-agency-website-main/src/assets/images/banner2.jpg">
                    <img class="home-slider" src="~/traversal-agency-website-main/src/assets/images/banner1.jpg">
                    <img class="home-slider" src="~/traversal-agency-website-main/src/assets/images/banner3.jpg">
                    <div class="home-content active">
                        <h2>Wonderful Island</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet molestias velit, consectetur
                            consequatur quisquam quia odit possimus. Labore quae nam, perspiciatis excepturi sint dicta
                            consequatur aliquam tempora laboriosam sed totam?</p>
                    </div>
                    <div class="home-content">
                        <h2>Adventures Off Road</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet molestias velit, consectetur
                            consequatur quisquam quia odit possimus. Labore quae nam, perspiciatis excepturi sint dicta
                            consequatur aliquam tempora laboriosam sed totam?</p>
                    </div>
                    <div class="home-content">
                        <h2>Road Trip Togather</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet molestias velit, consectetur
                            consequatur quisquam quia odit possimus. Labore quae nam, perspiciatis excepturi sint dicta
                            consequatur aliquam tempora laboriosam sed totam?</p>
                    </div>
                    <div class="home-content">
                        <h2>Feel Nature Relax</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet molestias velit, consectetur
                            consequatur quisquam quia odit possimus. Labore quae nam, perspiciatis excepturi sint dicta
                            consequatur aliquam tempora laboriosam sed totam?</p>
                    </div>
                    <div class="slider-navigation">
                        <div class="slider-button active"></div>
                        <div class="slider-button"></div>
                        <div class="slider-button"></div>
                        <div class="slider-button"></div>
                    </div>
                </section>