@model List<Notification>   
 
<li class="nav-item dropdown pe-2 d-flex align-items-center">
              <a href="javascript:;" class="nav-link text-white p-0" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="fa fa-bell cursor-pointer"></i>
              </a>
              
             @* #f8148d*@
              <ul class="dropdown-menu dropdown-menu-end px-2 py-3 ms-n4" aria-labelledby="dropdownMenuButton">
             @foreach (var item in Model)
            {
                        <li class="mb-2">
                        <a class="dropdown-item border-radius-md" href="javascript:;">
                        <div class="d-flex py-1">
                            <div class="my-auto">
                            <img src="~/soft-ui-dashboard/assets/img/notification.png" class="avatar avatar-sm me-3">
                            @*<i class="fas fa-info-circle" style="color: #ff57e9;"></i>*@
                            </div>
                            <div class="d-flex flex-column justify-content-center">
                            <h6 class="text-sm font-weight-normal mb-1">
                                <span class="font-weight-bold">@item.Subject</span>
                            </h6>
                            <p class="text-xs text-secondary mb-0">
                                @item.Description.Substring(0,item.Description.Substring(0,20).LastIndexOf("")) ...
                            </p>
                            </div>
                        </div>
                        </a>
                    </li>
            }
              </ul>
           
          </li>