
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AccessDenied</title>
</head>
<body>
    <h3>Sorry you do not have access to view this page!!!</h3>
</body>
</html>
