
@{
    Layout = null;
}

<!doctype html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Error 404 - Page Not Found!</title>
    <link rel="stylesheet" type="text/css" href="~/simple-404-template-master/assets/css/style.css" />
</head>

<body>
    <div class="container">
        <img class="ops" src="~/simple-404-template-master/assets/images/404.svg" />
        <br />
        <h3>Oppss!
            <br /> We couldn't find the page you're looking for:/</h3>
        <br />
        <a class="buton" href="/Home/ShowHome">Go Home</a>
    </div>
</body>

</html>
