@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_MemberLayout.cshtml";
}

    <div class="row">
        <div class="col-12">

      
            <div class="card mb-4">
            <div class="card-header pb-0">
              <h6>Çoklu dil desteği</h6>
            </div>
            <div class="card-body px-0 pt-0 pb-2">
              <div class="table-responsive p-0">
               <p>@localizer["Merhaba"]</p>
              </div>
            </div>
          </div>
        
        
        </div>
      </div>

