@model AddGuideCommand
@{
    ViewData["Title"] = "AddGuide";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">

      <div class="col-xl">
                  <div class="card mb-4">
                    <div class="card-header d-flex justify-content-between align-items-center">
                      <h5 class="mb-0">Add Guide</h5>
                    </div>
                    <div class="card-body">
                      <form method="post">
                        <div class="mb-3">
                          <div class="input-group input-group-merge">
                            <span id="basic-icon-default-fullname2" class="input-group-text"
                              ><i class="fas fa-user"></i></span>
                            <input
                              asp-for="Name"
                              type="text"
                              class="form-control"
                              id="basic-icon-default-fullname"
                              placeholder="Name"
                              aria-describedby="basic-icon-default-fullname2"
                            />
                          </div>
                        </div>
                        <div class="mb-3">
                          <div class="input-group input-group-merge">
                            <span id="basic-icon-default-company2" class="input-group-text"
                              ><i class="fas fa-hourglass-start"></i></span>
                            <input
                                asp-for="Description"
                              type="text"
                              id="basic-icon-default-company"
                              class="form-control"
                              placeholder="Description"
                              aria-describedby="basic-icon-default-company2"
                            />
                          </div>
                        </div>

                         
                      
                  

                          
                        <button type="submit" class="btn btn-primary">Add Guide</button>
                      </form>
                    </div>
                  </div>
                </div>

</div>

