@model EditUserProfile
@{
    ViewData["Title"] = "Travel Online - Edit Profile";
    Layout = "~/Views/Shared/_MemberLayout.cshtml";
}
 <script>
        window.onload=(function () {
            alert('If you do not want to change the photo, you can save changes without selecting a photo.');
        });
</script>

<div class="container">
    <div class="row">
        <div class="col-12">
            <h3 class="text-center">Account Settings</h3>
            <br />
            <form method="post" enctype="multipart/form-data">

                <input type="text" asp-for="name" class="form-control" placeholder="Your name" />
                <br />

                <input type="text" asp-for="surname" class="form-control" placeholder="Your surname"/>
                <br />

                <input type="password" asp-for="password" class="form-control" placeholder="Your password" />
                <br />

                <input type="password" asp-for="passwordConfirm" class="form-control" placeholder="Your password again" />
                <span asp-validation-for="passwordConfirm" style="color:red"></span>
                <br />

              
                <div class="form-check form-switch ps-0">
                    <input class="form-check-input ms-auto" type="checkbox" asp-for="passwordChange" id="flexSwitchCheckDefault">
                    <label class="form-check-label text-body ms-3 text-truncate w-80 mb-0" for="flexSwitchCheckDefault">Change password</label>
                </div>
                <br />

                  <div class="form-control">
                    <input type="file" asp-for="Image" />
                </div>
                <br />
                <button class="btn btn-primary"><i class="far fa-edit"></i>&nbsp; Save</button>
                <div class="text-danger" asp-validation-summary="ModelOnly"></div>
            </form>
        </div>
    </div>
</div>





