@model ForgetPasswordViewModel
@{
    ViewData["Title"] = "Travel Online - Forget Password";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

@if(TempData["SomthingWrong"] != null)
{
    <div class="notification">
        <div class="wrapper danger" asp-validation-summary="All">
        </div>
    </div>
    TempData["SomthingWrong"] = null;
}

 <section class="tree-wrapper tree-action">
    <h1>Forget Password</h1>
    <h3>Enter you mail, and we will send you reset link</h3>
</section>
<section class="action">
    <form id="form-action" method="POST" autocomplete="off" autocapitalize="off" autocorrect="off"
        spellcheck="false" novalidate>
        <input type="email" asp-for="Email" placeholder="Email" id="input-email">

        <input type="submit" name="login" value="Send" class="btn-action" id="btn-action">
    </form>
</section>


