
@{
    ViewData["Title"] = "PDFReport";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h3>Reports</h3>
<br />
<a href="/Admin/Reports/StaticPdfReport/" class="btn btn-info">Get Static Pdf Report</a>
<br /><br />
<a href="/Admin/Reports/DynamicCustomerPdfReport/" class="btn btn-dark">Get Users Pdf Report</a>

<br /><br />
<a href="/Admin/Reports/StaticExcelReport/" class="btn btn-outline-primary">Static Excel Report</a>
<br /><br />
<a href="/Admin/Reports/DestinationExcelReport/" class="btn btn-outline-success">Tours Excel Report</a>


