
@{
    ViewData["Title"] = "Admin Dashboard";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<link rel="stylesheet" href="~/sneat-1.0.0/assets/vendor/libs/apex-charts/apex-charts.css" />

<div class="row">
             
                @await Component.InvokeAsync("AdminDashboardBanner")
               
              
                @await Component.InvokeAsync("AdminDashboardStatistics")

                @await Component.InvokeAsync("TotalRevenueInAdminDashboard")
                
                @await Component.InvokeAsync("AdminDashboardStatistics2")
                
              </div>

              <div class="row">
                
                  @await Component.InvokeAsync("TourStatisticsAdminDashboard")
                
                
                @await Component.InvokeAsync("AdminDashboardStatistics3")
                
                @await Component.InvokeAsync("AdminDashboardGuideList")
                
      
              </div>

    <script src="~/sneat-1.0.0/assets/vendor/libs/apex-charts/apexcharts.js"></script>
    <script src="~/sneat-1.0.0/assets/js/dashboards-analytics.js"></script>