@model MailRequest
@{
    ViewData["Title"] = "Send Mail";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">

      <div class="col-xl">
                  <div class="card mb-4">
                    <div class="card-header d-flex justify-content-between align-items-center">
                      <h5 class="mb-0">Send Mail</h5>
                    </div>
                    <div class="card-body">
                      <form method="post">
                        <div class="mb-3">
                          <div class="input-group input-group-merge">
                            <span id="basic-icon-default-fullname2" class="input-group-text"
                              ><i class="fas fa-user"></i></span>
                            <input
                              asp-for="Name"
                              type="text"
                              class="form-control"
                              id="basic-icon-default-fullname"
                              placeholder="Name"
                              aria-describedby="basic-icon-default-fullname2"
                            />
                          </div>
                               <span style="color:darkred" asp-validation-for="Name"></span>
                        </div>
                        <div class="mb-3">
                          <div class="input-group input-group-merge">
                            <span id="basic-icon-default-company2" class="input-group-text"
                              ><i class="fas fa-envelope"></i></span>
                            <input
                                asp-for="ReceiverMail"
                              type="text"
                              id="basic-icon-default-company"
                              class="form-control"
                              placeholder="Receiver mail"
                              aria-describedby="basic-icon-default-company2"
                            />
                          </div>
                            <span style="color:darkred" asp-validation-for="ReceiverMail"></span>
                        </div>

                           <div class="mb-3">
                          <div class="input-group input-group-merge">
                            <span id="basic-icon-default-company2" class="input-group-text"
                              ><i class="fas fa-file-alt"></i></span>
                            <input
                                asp-for="Subject"
                              type="text"
                              id="basic-icon-default-company"
                              class="form-control"
                              placeholder="Subject"
                              aria-describedby="basic-icon-default-company2"
                            />
                          </div>
                          <span style="color:darkred" asp-validation-for="Subject"></span>
                        </div>
                      
                       
                 <div class="mb-3">
                          <div class="input-group input-group-merge">
                            <span id="basic-icon-default-message2" class="input-group-text"
                              ><i class="bx bx-comment"></i
                            ></span>
                            <textarea
                                asp-for="MailBody"
                                rows="5"
                              id="basic-icon-default-message"
                              class="form-control"
                              placeholder="Detalils..."
                              aria-describedby="basic-icon-default-message2"
                            ></textarea>
                          </div>
                           <span style="color:darkred" asp-validation-for="MailBody"></span>
                        </div>

                      
                       
                        <button type="submit" class="btn btn-primary">Send</button>
                      </form>
                    </div>
                  </div>
                </div>

</div>

