:root {
    /* Color Settings */
    --color-theme-1: #ff5ba4;
    --color-theme-2: #f8f9fa;
    --color-theme-3: #000000;
    --bcolor-theme-1: #faf7fe;
    --bcolor-theme-2: #f8f9fa;

    --color-success: #43a105;
    --color-warning: #a8a800;
    --color-warning-hover: #a8a800e5;
    --color-danger: #ca0101;
    --color-danger-hover: #ca0101e5;

    /* Font Settings */
    --font-family-1: 'Poppins', sans-serif;
    
    /* Header Settings */
    --header-height: 5rem;
    --icon-size: 3.5rem;

    /* Main Settings */
    --main-min-height: calc(100vh - (var(--header-height) + var(--footer-height)));

    /* Footer Settings */
    --footer-height: 5rem;

    /* Other Settings */
    --border-width: 2px;

    --card-shadow:  -webkit-box-shadow: 0 10px 6px -6px #777;
    -moz-box-shadow: 0 10px 6px -6px #777;
         box-shadow: 0 10px 6px -6px #777;
}

/* General Settings */
::selection {
    color: var(--color-theme-1);
    background-color: var(--color-theme-2);
}

::-moz-selection {
    color: var(--color-theme-1);
    background-color: var(--color-theme-2);
}

::-webkit-scrollbar {
    background-color: #111;
    width: 1.2rem;
}

::-webkit-scrollbar-track {
    background-color: var(--bcolor_theme_2);
}

::-webkit-scrollbar-thumb {
    background-color: #ff5ba4;
    border: 3px solid #111;
}

::-webkit-scrollbar-thumb:hover {
    opacity: 0.9;
}

* {
    margin: 0px;
    padding: 0px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    scroll-behavior: smooth;
}

body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    font-family: var(--font-family-1);
    font-weight: 400;
    background-color: var(--bcolor-theme-1);
}

.locked {
    overflow: hidden !important;
}

@media only screen and (min-width: 992px) {
    html {
        font-size: 11px;
    }
}

@media only screen and (min-width: 1200px) {
    html {
        font-size: 12px;
    }
}

@media only screen and (min-width: 1680px) {
    html {
        font-size: 13px;
    }
}

@media only screen and (min-width: 2050px) {
    html {
        font-size: 18px;
    }
}

@media only screen and (min-width: 2400px) {
    html {
        font-size: 24px;
    }
}