section {
    position: relative;
    min-height: var(--main-min-height);
    padding-left: 1rem;
    padding-right: 1rem;
}

.hanging-menu {
    border-width: var(--border-width);
    border-style: solid;
    border-color: var(--color-theme-2);
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    overflow-y: scroll;
}

.hanging-menu .item {
    display: block;
    padding: 1rem;
    font-size: 1.6rem;
    color: var(--color-theme-2);
    text-decoration: none;
}

.hanging-menu .item:not(:last-child) {
    margin-bottom: 1.5rem;
}

.hanging-menu .item:hover {
    background-color: var(--color-theme-2);
    color: var(--color-theme-1);
    cursor: pointer;
}

.hanging-menu .item.selected {
    background-color: var(--color-theme-2) !important;
    color: var(--color-theme-1) !important;
    cursor: not-allowed !important;
}

.rcontent {
    padding-top: calc(var(--header-height) / 2);
    padding-bottom: calc(var(--footer-height) * 2);
}

.rcontent .title {
    font-size: 1.8rem;
    line-height: 1.2;
    margin-bottom: 1rem;
    color: var(--color-theme-2);
}

.rcontent .text {
    font-size: 1.3rem;
    line-height: 1.4;
    margin-bottom: 1rem;
    color: var(--color-theme-1);
}

.rcontent .text a {
    color: var(--color-theme-1);
}

.tree {
    display: flex;
    align-items: center;
}

.tree a,
.tree .icon,
.tree div {
    font-size: 1rem;
    color: var(--color-theme-1);
    text-decoration: none;
    margin-right: 0.5rem;
}

.tree a:hover {
    color: var(--color-theme-2);
}

.back-to-top {
    z-index: 1111;
    position: absolute;
    bottom: var(--footer-height);
    right: 1rem;
    color: var(--color-theme-2);
    display: flex;
    justify-content: center;
    align-items: center;
    border-width: var(--border-width);
    border-style: solid;
    border-color: var(--color-theme-2);
    border-radius: 1rem;
    padding: 1rem;
    cursor: pointer;
    -webkit-transition-property: all;
    -moz-transition-property: all;
    -o-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-transition-timing-function: ease;
    -moz-transition-timing-function: ease;
    -o-transition-timing-function: ease;
    transition-timing-function: ease;
}

.back-to-top:hover {
    background-color: var(--color-theme-1);
}

.back-to-top div {
    font-size: 1.3rem;
    margin-right: 1rem;
}

.back-to-top .icon {
    font-size: 1.5rem;
}

.not-found {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-width: var(--border-width);
    border-style: solid;
    border-color: var(--color-theme-2);
    padding-top: var(--header-height);
    padding-bottom: var(--header-height);
    padding-left: 1rem;
    padding-right: 1rem;
}

.not-found-wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
}

.not-found-icon {
    color: var(--color-danger);
    font-size: 2rem;
    margin-right: 1rem;
}

.not-found-text {
    color: var(--color-danger);
    font-size: 2rem;
    word-break: break-all;
}

.not-found-text.mb {
    margin-bottom: 2rem;
}

.not-found-btn {
    font-size: 2rem;
    color: var(--color-theme-1);
    padding: 1rem;
    border-width: var(--border-width);
    border-style: solid;
    border-color: var(--color-theme-2);
    border-radius: 1rem;
    text-decoration: none;
    -webkit-transition-property: all;
    -moz-transition-property: all;
    -o-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-transition-timing-function: ease;
    -moz-transition-timing-function: ease;
    -o-transition-timing-function: ease;
    transition-timing-function: ease;
}

.not-found-btn:hover {
    background-color: var(--color-theme-1);
    color: var(--color-theme-2);
    cursor: pointer;
}

.pagination-row {
    display: flex;
    align-items: center;
}

.pagination-row .pagination-wrapper {
    margin-left: auto;
    display: flex;
    align-items: center;
    border-width: var(--border-width);
    border-style: solid;
    border-color: var(--color-theme-2);
}

.pagination-row .pagination-wrapper .item {
    width: var(--icon-size);
    height: var(--icon-size);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
    font-weight: 700;
    color: var(--color-theme-2);
    text-decoration: none;
    -webkit-transition-property: all;
    -moz-transition-property: all;
    -o-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-transition-timing-function: ease;
    -moz-transition-timing-function: ease;
    -o-transition-timing-function: ease;
    transition-timing-function: ease;
}

.pagination-row .pagination-wrapper .item:not(:last-child) {
    border-right-width: var(--border-width);
    border-right-style: solid;
    border-right-color: var(--color-theme-2);
}

.pagination-row .pagination-wrapper .item:hover {
    background-color: var(--color-theme-1);
    cursor: pointer;
}

.pagination-row .pagination-wrapper .item.selected {
    background-color: var(--color-theme-1) !important;
    pointer-events: none;
}

.pagination-row .pagination-wrapper .item.separator {
    pointer-events: none !important;
}

@media only screen and (max-width: 1200px) {
    .mobile-wrapper {
        display: flex;
        align-items: center;
        margin-top: var(--header-height);
        margin-bottom: 2rem;
    }

    .mobile-wrapper .mobile-hanging-menu-toggler {
        margin-left: auto;
        display: flex;
        align-items: center;
        font-size: 1.3rem;
        font-weight: 700;
        color: var(--color-theme-2);
        border-width: var(--border-width);
        border-style: solid;
        border-color: var(--color-theme-2);
        padding: 0.5rem;
        border-radius: 1rem;
        cursor: pointer;
    }

    .mobile-wrapper .mobile-hanging-menu-toggler.active {
        color: var(--color-theme-2) !important;
        background-color: var(--color-theme-1) !important;
    }

    .mobile-wrapper .mobile-hanging-menu-toggler .icon {
        font-size: 2rem !important;
        margin-left: 0.5rem;
    }

    .hanging-menu {
        display: none;
    }

    .hanging-menu.active {
        display: block !important;
    }

    .desktop-wrapper {
        display: none;
    }
}

@media only screen and (min-width: 1200px) {
    .section-row {
        display: flex;
        justify-content: space-between;
    }

    .mobile-wrapper {
        display: none;
    }

    .hanging-menu {
        width: 20%;
        height: var(--main-min-height);
        position: sticky;
        top: var(--header-height);
        -webkit-transition-property: width;
        -moz-transition-property: width;
        -ms-transition-property: width;
        -o-transition-property: width;
        transition-property: width;
        -webkit-transition-duration: 0.2s;
        -moz-transition-duration: 0.2s;
        -ms-transition-duration: 0.2s;
        -o-transition-duration: 0.2s;
        transition-duration: 0.2s;
        -webkit-transition-timing-function: ease;
        -moz-transition-timing-function: ease;
        -ms-transition-timing-function: ease;
        -o-transition-timing-function: ease;
        transition-timing-function: ease;
    }

    .hanging-menu.shrink {
        width: 0 !important;
        opacity: 0 !important;
        visibility: hidden !important;
    }

    .rcontent {
        width: 78%;
        padding-top: var(--header-height);
        -webkit-transition-property: width;
        -moz-transition-property: width;
        -ms-transition-property: width;
        -o-transition-property: width;
        transition-property: width;
        -webkit-transition-duration: 0.2s;
        -moz-transition-duration: 0.2s;
        -ms-transition-duration: 0.2s;
        -o-transition-duration: 0.2s;
        transition-duration: 0.2s;
        -webkit-transition-timing-function: ease;
        -moz-transition-timing-function: ease;
        -ms-transition-timing-function: ease;
        -o-transition-timing-function: ease;
        transition-timing-function: ease;
    }

    .rcontent.expand {
        width: 100% !important;
    }

    .desktop-wrapper {
        z-index: 13;
        position: sticky;
        top: var(--header-height);
        height: var(--header-height);
        background-color: var(--bcolor-theme-2);
        border-width: var(--border-width);
        border-style: solid;
        border-color: var(--color-theme-2);
        margin-bottom: 2rem;
        display: flex;
        align-items: center;
        padding-left: 1rem;
        padding-right: 1rem;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
    }

    .desktop-wrapper .desktop-hanging-menu-toggler {
        width: var(--icon-size);
        height: var(--icon-size);
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        border-width: var(--border-width);
        border-style: solid;
        border-color: var(--color-theme-2);
        cursor: pointer;
        margin-right: 1rem;
    }

    .desktop-wrapper .desktop-hanging-menu-toggler.active {
        background-color: var(--color-theme-1) !important;
    }

    .desktop-wrapper .desktop-hanging-menu-toggler .icon {
        font-size: 2rem;
        color: var(--color-theme-2);
    }
}