<div class="reply-title">Leave a comment</div>                           
                    
<form id="form-action" asp-action="AddComment" asp-controller="Comments" method="post">
    <input type="hidden" name="DestinationID" value="@ViewBag.Id" />
    <textarea id="input-message" class="message" name="CommentText" placeholder="Your Comment" required></textarea>
    <div class="btn-row">
        <input id="btn-action" class="btn" type="submit" value="Post Comment">
    </div>
</form>

<script>
    const inputMessage = document.getElementById('input-message');
    document.getElementById('btn-action').addEventListener('click', (e) => {
        e.preventDefault();
        if (inputMessage.value == '') {
            inputMessage.focus();
            setNotification('<div class="wrapper danger">Comment Field Is Empty</div>');
        } else if (inputMessage.value.trim().length > 500) {
        inputMessage.focus();
        setNotification('<div class="wrapper danger">Comment Cannot Exceed 500 Characters</div>');
    }  else if (inputMessage.value.trim().length < 10) {
        inputMessage.focus();
        setNotification('<div class="wrapper danger">Comment Cannot Be Less Than 10 Characters</div>');
    } else {
        clearTimeout(notificationHidden);
        clearTimeout(notificationRemoved);
        if (!notification.classList.contains('hidden')) {
            notification.classList.add('hidden');
        }
        if (!notification.classList.contains('removed')) {
            notification.classList.add('removed');
        }
        document.getElementById('form-action').submit();
    }
    });
</script>