@model List<Rezervation>

<div class="col-md-6 col-lg-8 col-xl-8 order-0 mb-4">
                   <div class="card">
        <h5 class="card-header">Last 5 reservations</h5>
        <div class="table-responsive text-nowrap">
                <table class="table">
                <thead class="table-dark">
                    <tr>
                        <th>#</th>
                        <th>Destination</th>
                        <th>Date</th>
                        <th>Status</th>
                    </tr>
                </thead>
                    <tbody class="table-border-bottom-0">

                        @foreach (var item in Model)
                        {
                                    <tr>
                                <td><i class="far fa-plane fa-lg text-black me-3"></i> <strong>@item.ReservationID</strong></td>
                                <td>@item.Destination.City</td>
                                <td>@(((DateTime)item.ReservastionDate).ToString("dd-MMM-yyyy"))</td>
                               <td>
                                    @if(item.Status == EnumRezervationStatus.OdemeBekleniyor)
                                    {
                                        <span class="badge badge-sm bg-warning">Waiting Payment</span>
                                    }
                                    else if(item.Status == EnumRezervationStatus.OnayBekleniyor)
                                    {
                                        <span class="badge badge-sm bg-info">Waiting Approval</span>
                                    }
                                    else if(item.Status == EnumRezervationStatus.Onaylandi)
                                    {
                                        <span class="badge badge-sm bg-success">Approved</span>
                                    }
                                    else
                                    {
                                        <span class="badge badge-sm bg-danger">Canceled</span>
                                    }
                              </td>

                            </tr>
                        }
               
                    </tbody>
                </table>
                 
            </div>
        </div>
</div>