@model List<Notification>
@{
    ViewData["Title"] = "Travel Online - Notifications";
    Layout = "~/Views/Shared/_MemberLayout.cshtml";
}

    <div class="row">
        <div class="col-12">
        @if(TempData["NoNotification"] != null)
        {
            <h4 style="text-align:center">@TempData["NoNotification"]</h4>
            TempData["NoNotification"] = null;
        }
        else
        {
            <div class="card mb-4">
            <div class="card-header pb-0">
              <h6>Notifications</h6>
            </div>
            <div class="card-body px-0 pt-0 pb-2">
              <div class="table-responsive p-0">
                <table class="table align-items-center mb-0">
                  <thead>
                    <tr>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Subject</th>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Content</th>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Date</th>
                    </tr>
                  </thead>
                  <tbody>
                      @foreach (var item in Model)
                            {
                            <tr>
                                  <td>
                                    <div class="d-flex px-2 py-1">
                                      <div class="d-flex flex-column justify-content-center">
                                        <h6 class="mb-0 text-sm">@item.Subject</h6>
                                      </div>
                                    </div>
                                  </td>
                                  <td>
                                    <p class="font-weight-bold mb-0">@item.Description</p>
                                  </td>
                                   <td>
                                    <span class="font-weight-bold">@DateTime.Parse(item.Date.ToString()).ToString("dd-MM-yyyy HH:mm")</span>
                                  </td>
                            </tr>
                        }
                  
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        }
        
        </div>
      </div>

