
       <footer>
                <div class="top">
                    <div class="link-wrapper">
                        <div class="wrapper">
                            <div class="title">Company</div>
                            <a href="/Home/ShowHome" class="link">Home</a>
                            <a href="/Home/AboutPage" class="link">About</a>
                            <a href="/Destinations/ShowDestinations" class="link">Tours</a>
                            <a href="/Home/AboutPage/#form-action" class="link">Contact</a>
                        </div>
                        <div class="wrapper">
                            <div class="title">Useful Links</div>
                            <a href="https://youtube.com" class="link">You Yube</a>
                            <a href="https://instagram.com" class="link">Instagram</a>
                            <a href="https://twitter.com" class="link">Twitter</a>
                            <a href="https://facebook.com" class="link">Facebook</a>
                        </div>
                        <div class="wrapper">
                            <div class="title">Services</div>
                            <a href="#" class="link">Privacy Policy</a>
                            <a href="#" class="link">Terms of use</a>
                            <a href="#" class="link">Turkey Office</a>
                            <a href="/Home/AboutPage/#guides" class="link">Guides</a>
                        </div>
                    </div>
                    <div class="newsletter">
                        <div class="title">Mail Bülteni</div>
                        <div class="box">
                            <div class="top-text">Get to know last updates and discounts!</div>
                            <form class="form-newsletter" action="">
                                <input class="email" type="email" name="newsletter-email" placeholder="Mail Address">
                                <input class="btn" type="submit" value="Save">
                            </form>
                            <div class="link">You can register in order to get notifications
                            </div>
                        </div>
                    </div>
                </div>
                <div class="bottom">
                    <div class="copyright">© @DateTime.Now.Year Travel Online. All rights reserved.</div>
                    <div class="socials">
                        <a href=""><i class="fa-brands fa-twitter"></i></a>
                        <a href=""><i class="fa-brands fa-instagram"></i></a>
                        <a href=""><i class="fa-brands fa-whatsapp"></i></a>
                    </div>
                </div>
            </footer>