
       <footer>
                <div class="top">
                    <div class="link-wrapper">
                        <div class="wrapper">
                            <div class="title">Şirketimiz</div>
                            <a href="#" class="link">Ana Sayfa</a>
                            <a href="#" class="link">Hakkımızda</a>
                            <a href="#" class="link">Hizmetler</a>
                            <a href="#" class="link">Rotalar</a>
                            <a href="#" class="link">İletişim</a>
                        </div>
                        <div class="wrapper">
                            <div class="title">Faydalı Linkler</div>
                            <a href="#" class="link">Hastaneler</a>
                            <a href="#" class="link">Havayolları</a>
                            <a href="#" class="link">Döviz Ofisleri</a>
                            <a href="#" class="link">Turizm Bürosu</a>
                            <a href="#" class="link">Bize Yazın</a>
                        </div>
                        <div class="wrapper">
                            <div class="title">Hizmetlerimiz</div>
                            <a href="#" class="link">Gizlilik Politikası</a>
                            <a href="#" class="link">Kullanım Koşulları</a>
                            <a href="#" class="link">Servisler</a>
                            <a href="#" class="link">Türkiye Ofisi</a>
                            <a href="#" class="link">Rehberlerimiz</a>
                        </div>
                    </div>
                    <div class="newsletter">
                        <div class="title">Mail Bülteni</div>
                        <div class="box">
                            <div class="top-text">Son gelişmeler ve kampanyalardan haberdar olun</div>
                            <form class="form-newsletter" action="">
                                <input class="email" type="email" name="newsletter-email" placeholder="Mail Adresi">
                                <input class="btn" type="submit" value="Kaydet">
                            </form>
                            <div class="link">Son gelişmelerden haberdar olmak için kayıt olabilirsiniz.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="bottom">
                    <div class="copyright">© @DateTime.Now.Year Online Traversal. All rights reserved.</div>
                    <div class="socials">
                        <a href=""><i class="fa-brands fa-twitter"></i></a>
                        <a href=""><i class="fa-brands fa-instagram"></i></a>
                        <a href=""><i class="fa-brands fa-whatsapp"></i></a>
                    </div>
                </div>
            </footer>