  <div class="left">
            <header class="header hidden">
                <div class="logo hidden">TRAVEL ONLINE</div>
                <div class="logo-expand">
                    <div>T</div>
                    <div>R</div>
                    <div>A</div>
                    <div>V</div>
                    <div>E</div>
                    <div>L</div>
                </div>
                <div class="menu hidden">
                    <nav>
                        <a href="/Home/ShowHome/" class="item">Home</a>
                        <a href="/Home/AboutPage/" class="item">About Us</a>
                        <a href="/Destinations/ShowDestinations/" class="item">Tour Routes</a>
                        <div class="row">
                            <a href="/Account/SignIn/" class="item">Login</a>
                            <a href="/Account/SignUp/" class="item">Register</a>
                        </div>
                    </nav>
                    <div class="socials">
                        <a href=""><i class="fa-brands fa-twitter"></i></a>
                        <a href=""><i class="fa-brands fa-instagram"></i></a>
                        <a href=""><i class="fa-brands fa-whatsapp"></i></a>
                    </div>
                </div>
                <div class="menu-toggler-wrapper">
                    <div class="menu-toggler hidden">
                        <div class="line line1"></div>
                        <div class="line line2"></div>
                        <div class="line line3"></div>
                    </div>
                </div>
            </header>
            <div class="scroll-progress-wrapper">
                <div class="scroll-progress"></div>
            </div>
        </div>