
@{
    ViewData["Title"] = "Ana Sayfa";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}


@if(TempData["MessageSuccess"] != null)
{
    <div class="notification">
        <div class="wrapper success">
            @TempData["MessageSuccess"]
        </div>
    </div>
    TempData["MessageSuccess"] = null;
}
@if(TempData["CommentSuccess"] != null)
{
    <div class="notification">
        <div class="wrapper success">
            @TempData["CommentSuccess"]
        </div>
    </div>
    TempData["CommentSuccess"] = null;
}
@if(TempData["NotExists"] != null)
{
    <div class="notification">
        <div class="wrapper danger">
            @TempData["NotExists"]
        </div>
    </div>
    TempData["NotExists"] = null;
}



@await Component.InvokeAsync("HomeSlider")


    <section class="visit">
    
    @await Component.InvokeAsync("DestinationsInHome")
                          
</section>
               
@await Component.InvokeAsync("StatisticsInHome")


@await Component.InvokeAsync("FeatureInHome")

@await Component.InvokeAsync("SubAboutInHome")

@await Component.InvokeAsync("TestimonialsInHome")

                

