
<aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
          <div class="app-brand demo">
            <a href="/Home/ShowHome/" class="app-brand-link">
              
                <img src="~/sneat-1.0.0/assets/img/icons/brands/logo-ct.png" style="width:25%;" />
              
              <span class="app-brand-text demo menu-text fw-bolder ms-2">Travel Online</span>
            </a>

            <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto d-block d-xl-none">
              <i class="bx bx-chevron-left bx-sm align-middle"></i>
            </a>
          </div>

          <div class="menu-inner-shadow"></div>


          <ul class="menu-inner py-1">
            <li class="menu-item">
              <a href="/Admin/Dashboard/AdminDashboard/" class="menu-link">
                <i class="menu-icon fas fa-columns" style="color:#d53db2"></i>
                <div data-i18n="Analytics">Dashboard</div>
              </a>
            </li>

             <li class="menu-item">
              <a href="/Admin/Comments/ListComments/" class="menu-link">
                <i class="menu-icon far fa-comments" style="color:#d53db2"></i>
                <div data-i18n="Analytics">Comments</div>
              </a>
            </li>


            <li class="menu-item">
              <a href="/Admin/Destinations/DisplayDestinations" class="menu-link">
                <i class="menu-icon fas fa-map-marked" style="color:#d53db2"></i>
                <div data-i18n="Layouts">Tours</div>
              </a>
            </li>

             <li class="menu-item">
              <a href="/Admin/Users/ListAllUsers/" class="menu-link">
                <i class="menu-icon fas fa-users" style="color:#d53db2"></i>
                <div data-i18n="Analytics">Users</div>
              </a>
            </li>

              <li class="menu-item">
              <a href="/Admin/Notification/ShowNotifications/" class="menu-link">
                <i class="menu-icon fas fa-exclamation" style="color:#d53db2"></i>
                <div data-i18n="Analytics">Notifications</div>
              </a>
            </li>

              <li class="menu-item">
              <a href="/Admin/Message/ShowContactMessages/" class="menu-link">
                <i class="menu-icon fas fa-envelope-open-text" style="color:#d53db2"></i>
                <div data-i18n="Analytics">Messages</div>
              </a>
            </li>

               <li class="menu-item">
              <a href="/Admin/Guides/ListGuides/" class="menu-link">
                <i class="menu-icon fas fa-user-tie" style="color:#d53db2"></i>
                <div data-i18n="Analytics">Guides</div>
              </a>
            </li>

             <li class="menu-item">
              <a href="/Admin/Reservations/ReservationsPage/" class="menu-link">
                <i class="menu-icon far fa-bookmark" style="color:#d53db2"></i>
                <div data-i18n="Analytics">Reservations</div>
              </a>
            </li>

               <li class="menu-item">
              <a href="/Admin/Mail/SendMail/" class="menu-link">
                <i class="menu-icon far fa-envelope" style="color:#d53db2"></i>
                <div data-i18n="Analytics">Send Mail</div>
              </a>
            </li>

              <li class="menu-item">
              <a href="/Admin/Reports/TakeReport/" class="menu-link">
                <i class="menu-icon fas fa-file-contract" style="color:#d53db2"></i>
                <div data-i18n="Analytics">Reports</div>
              </a>
            </li>
            
             <li class="menu-item">
              <a href="/Admin/AccountUow/SendOperation/" class="menu-link">
                <i class="menu-icon fas fa-wrench" style="color:#d53db2"></i>
                <div data-i18n="Account Settings">Account UOW</div>
              </a>
            </li>

              <li class="menu-item">
              <a href="/Admin/CurrencyAPI/ShowCurrencies/" class="menu-link">
                <i class="menu-icon fas fa-wrench" style="color:#d53db2"></i>
                <div data-i18n="Account Settings">Currency API</div>
              </a>
            </li>

             <li class="menu-item">
              <a href="/Admin/DestinationCQRS/ShowDestinations/" class="menu-link">
                <i class="menu-icon fas fa-wrench" style="color:#d53db2"></i>
                <div data-i18n="Account Settings">Destination CQRS</div>
              </a>
            </li>

            <li class="menu-item">
              <a href="/Admin/GuideMediatR/ShowGuides/" class="menu-link">
                <i class="menu-icon fas fa-wrench" style="color:#d53db2"></i>
                <div data-i18n="Account Settings">Guides MediatR</div>
              </a>
            </li>

             <li class="menu-item">
              <a href="/Admin/HotelsAPI/ShowHotels/" class="menu-link">
                <i class="menu-icon fas fa-wrench" style="color:#d53db2"></i>
                <div data-i18n="Account Settings">Hotels API</div>
              </a>
            </li>

            <li class="menu-item">
              <a href="/Admin/MovieAPI/ShowTop100Movies/" class="menu-link">
                <i class="menu-icon fas fa-wrench" style="color:#d53db2"></i>
                <div data-i18n="Account Settings">Movie API</div>
              </a>
            </li>

             <li class="menu-item">
              <a href="/Admin/VisitorAPI/ShowVisitors/" class="menu-link">
                <i class="menu-icon fas fa-wrench" style="color:#d53db2"></i>
                <div data-i18n="Account Settings">Visitor API</div>
              </a>
            </li>

            <li class="menu-item">
              <a href="/Admin/AdminSettings/ManageSettings/" class="menu-link">
                <i class="menu-icon fas fa-wrench" style="color:#d53db2"></i>
                <div data-i18n="Account Settings">Settings</div>
              </a>
            </li>

            <li class="menu-item">
              <a href="/Account/LogOut/" class="menu-link">
                <i class="menu-icon fas fa-power-off" style="color:#d53db2"></i>
                <div data-i18n="Authentications">Logout</div>
              </a>
            </li>

          </ul>
        </aside>