@model List<Comment>
@{
    ViewData["Title"] = "User Comments";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

 <div class="card">
        <h5 class="card-header">User Comments</h5>
        <div class="table-responsive text-nowrap">
            <table class="table">
            <thead class="table-dark">
                <tr>
                <th>User</th>
                <th>Tour</th>
                <th>Content</th>
                <th>Date</th>
                <th>Delete</th>
                </tr>
            </thead>
            <tbody class="table-border-bottom-0">

                @foreach (var item in Model)
                {
                            <tr>
                        <td><i class="far fa-comment fa-lg text-info me-3"></i> <strong>@item.CommentUser</strong></td>
                        <td>@item.Destination?.City</td>
                        <td>
                            @item.CommentText
                        </td>
                            <td>
                                <span class="badge bg-label-primary me-1">@(((DateTime)item.CommentDate).ToString("dd-MMM-yyyy")) </span>
                                </td>
   

                        <td>
                            <a href="/Admin/Comments/DeleteComment/@item.CommentID" class="btn rounded-pill btn-outline-danger">
                                <i class="fas fa-trash-restore"></i>&nbsp; Delete
                            </a></td>
                    </tr>
                }
               
            </tbody>
            </table>
                 
        </div>
</div>

