
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Exel Raporlar Sayfası</h1>
<br />
<a href="/Exel/StaticExcelReport/" class="btn btn-outline-primary">Static Excel Report</a>
<br /><br />
<a href="/Exel/DestinationExcelReport/" class="btn btn-outline-success">Tours Excel Report</a>

