@model About2

<section class="about">
        <div class="content">
        <div class="left-content">
            <div class="mini-title">@Model.Title</div>
            <h4>@Model.Title2</h4>
        </div>
        <div class="right-content">
            <div class="text">@Model.Description</div>
        </div>
        </div>
</section>