<section class="statistics">
                    <div class="wrapper">
                        <div class="card-body color1">
                            <div>
                                <div class="count">@ViewBag.Rotations</div>
                                <div class="text">Rotalar</div>
                            </div>
                            <div>
                                <i class="fa-sharp fa-solid fa-code-branch"></i>
                            </div>
                        </div>
                        <div class="card-body color2">
                            <div>
                                <div class="count">@ViewBag.guides</div>
                                <div class="text">Tur Rehberleri</div>
                            </div>
                            <div>
                                <i class="fa-sharp fa-solid fa-plane"></i>
                            </div>
                        </div>
                        <div class="card-body color3">
                            <div>
                                <div class="count">@ViewBag.happyCustomers</div>
                                <div class="text">Mutlu Müşteriler</div>
                            </div>
                            <div>
                                <i class="fa-sharp fa-solid fa-face-smile"></i>
                            </div>
                        </div>
                        <div class="card-body color4">
                            <div>
                                <div class="count">35</div>
                                <div class="text">Ödüller</div>
                            </div>
                            <div>
                                <i class="fa-sharp fa-solid fa-award"></i>
                            </div>
                        </div>
                    </div>
                </section>