<section class="statistics">
                    <div class="wrapper">
                        <div class="card-body color1">
                            <div>
                                <div class="count">@ViewBag.Rotations</div>
                                <div class="text">Tours</div>
                            </div>
                            <div>     
                                <i class="fa-sharp fa-solid fa-plane"></i>
                            </div>
                        </div>
                        <div class="card-body color2">
                            <div>
                                <div class="count">@ViewBag.guides</div>
                                <div class="text">Guides</div>
                            </div>
                            <div>
                                <i class="fa-sharp fa-solid fa-code-branch"></i>
                            </div>
                        </div>
                        <div class="card-body color3">
                            <div>
                                <div class="count">@ViewBag.Customers</div>
                                <div class="text">Customers</div>
                            </div>
                            <div>
                                <i class="fas fa-user"></i>
                            </div>
                        </div>
                        <div class="card-body color4">
                            <div>
                                <div class="count">@ViewBag.References</div>
                                <div class="text">References</div>
                            </div>
                            <div>
                                <i class="fa-sharp fa-solid fa-award"></i>
                            </div>
                        </div>
                    </div>
                </section>