  <div class="col-lg-4 col-md-4 order-1">
                  <div class="row">
                    <div class="col-lg-6 col-md-12 col-6 mb-4">
                      <div class="card">
                        <div class="card-body">
                          <div class="card-title d-flex align-items-start justify-content-between">
                            <div class="avatar flex-shrink-0">            
                              <i class="fas fa-plane" style="color:#696cff"></i>
                            </div>
                            
                          </div>
                          <span class="fw-semibold d-block mb-1">Tours</span>
                          <h3 class="card-title mb-2">@ViewBag.tours</h3>
                       
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-6 col-md-12 col-6 mb-4">
                      <div class="card">
                        <div class="card-body">
                          <div class="card-title d-flex align-items-start justify-content-between">
                            <div class="avatar flex-shrink-0">
                               <i class="fas fa-user"></i>
                            </div>
                           
                          </div>
                          <span>Users</span>
                          <h3 class="card-title text-nowrap mb-1">@ViewBag.users</h3>
                        
                        </div>
                      </div>
                    </div>
                  </div>
                </div>